{% extends 'base.html' %}

{% block content %}

	<h1>Downloads</h1>

	<div class="yui3-u-1-1">
		<div class="page-section">
            <p>The following file contains all of the physiological, psychological and molecular changes in the Digital Ageing Atlas as of 17/09/2014. It does not contain the pathological changes as the data can be retrieved in a more accessible format from the <a href="http://www.cdc.gov/">CDC</a>.

            <p>The file is formated as a tab-separated text file and can be downloaded <a href="/static/downloads/digital_ageing_atlas_data.zip">from here</a>.</p>

            <p><b>Note:</b> Multiple entries in a column (e.g. tissues) are separated by a comma (,). The exception to this rule are references, which due to the presence of commas in the text, are separated using the pipe (|) character.</p> 

            <p>If you are interested in access to the full database please <a href="/atlas/contact/">contact us</a> for more information.</p>

		</div>
	</div>

{% endblock %}
